<h1>Activity 2 - UK ACCIDENTS DATA ANALYITCS PROJECT</h1>
<br>
<h3>Analyst: Ron Jerick Gamba</h3>

In [1]:
import numpy as np 
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

<h1>Converting csv into a Data Frame</h1>
<br>
<h3>Requirements</h3>
<ul>
    <li>Data Frame name</li>
    <li>CSV File path</li>
</ul>

In [2]:
uk_acc = pd.read_csv('datasets//uk_road_accident.csv')
uk_acc

,Index,Accident_Severity,Accident Date,Latitude,Light_Conditions,District Area,Longitude,Number_of_Casualties,Number_of_Vehicles,Road_Surface_Conditions,Road_Type,Urban_or_Rural_Area,Weather_Conditions,Vehicle_Type
0,200701BS64157,Serious,5/6/2019,51.506187,Darkness - lights lit,Kensington and Chelsea,-0.209082,1,2,Dry,Single carriageway,Urban,Fine no high winds,Car
1,200701BS65737,Serious,2/7/2019,51.495029,Daylight,Kensington and Chelsea,-0.173647,1,2,Wet or damp,Single carriageway,Urban,Raining no high winds,Car
2,200701BS66127,Serious,26-08-2019,51.517715,Darkness - lighting unknown,Kensington and Chelsea,-0.210215,1,3,Dry,NaN,Urban,NaN,Taxi/Private hire car
3,200701BS66128,Serious,16-08-2019,51.495478,Daylight,Kensington and Chelsea,-0.202731,1,4,Dry,Single carriageway,Urban,Fine no high winds,Bus or coach (17 or more pass seats)
4,200701BS66837,Slight,3/9/2019,51.488576,Darkness - lights lit,Kensington and Chelsea,-0.192487,1,2,Dry,NaN,Urban,NaN,Other vehicle
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
660674,201091NM01760,Slight,18-02-2022,57.374005,Daylight,Highland,-3.467828,2,1,Dry,Single carriageway,Rural,Fine no high winds,Car
660675,201091NM01881,Slight,21-02-2022,57.232273,Darkness - no lighting,Highland,-3.809281,1,1,Frost or ice,Single carriageway,Rural,Fine no high winds,Car
660676,201091NM01935,Slight,23-02-2022,57.585044,Daylight,Highland,-3.862727,1,3,Frost or ice,Single carriageway,Rural,Fine no high winds,Car
660677,201091NM01964,Serious,23-02-2022,57.214898,Darkness - no lighting,Highland,-3.823997,1,2,Wet or damp,Single carriageway,Rural,Fine no high winds,Motorcycle over 500cc
660678,201091NM02142,Serious,28-02-2022,57.575210,Daylight,Highland,-3.895673,1,1,Wet or damp,Dual carriageway,Rural,Snowing no high winds,Car

# Describe Data

In [3]:
uk_acc.describe()

            Latitude      Longitude  Number_of_Casualties  Number_of_Vehicles
count  660654.000000  660653.000000         660679.000000       660679.000000
mean       52.553866      -1.431210              1.357040            1.831255
std         1.406922       1.383330              0.824847            0.715269
min        49.914430      -7.516225              1.000000            1.000000
25%        51.490690      -2.332291              1.000000            1.000000
50%        52.315641      -1.411667              1.000000            2.000000
75%        53.453452      -0.232869              1.000000            2.000000
max        60.757544       1.762010             68.000000           32.000000

In [4]:
uk_acc.describe().T

,count,mean,std,min,25%,50%,75%,max
Latitude,660654.0,52.553866,1.406922,49.914430,51.490690,52.315641,53.453452,60.757544
Longitude,660653.0,-1.431210,1.383330,-7.516225,-2.332291,-1.411667,-0.232869,1.762010
Number_of_Casualties,660679.0,1.357040,0.824847,1.000000,1.000000,1.000000,1.000000,68.000000
Number_of_Vehicles,660679.0,1.831255,0.715269,1.000000,1.000000,2.000000,2.000000,32.000000

# Checking Null-Values

In [5]:
uk_acc.isnull().sum()

Index                          0
Accident_Severity              0
Accident Date                  0
Latitude                      25
Light_Conditions               0
District Area                  0
Longitude                     26
Number_of_Casualties           0
Number_of_Vehicles             0
Road_Surface_Conditions      726
Road_Type                   4520
Urban_or_Rural_Area           15
Weather_Conditions         14128
Vehicle_Type                   0
dtype: int64

In [6]:
uk_acc['Latitude'] = uk_acc['Latitude'].fillna(uk_acc['Latitude'].mean())
uk_acc['Longitude'] = uk_acc['Longitude'].fillna(uk_acc['Longitude'].mean())
uk_acc['Road_Surface_Conditions'] = uk_acc['Road_Surface_Conditions'].fillna(uk_acc['Road_Surface_Conditions'].mode()[0])
uk_acc['Road_Type'] = uk_acc['Road_Type'].fillna(uk_acc['Road_Type'].mode()[0])
uk_acc['Urban_or_Rural_Area'] = uk_acc['Urban_or_Rural_Area'].fillna(uk_acc['Urban_or_Rural_Area'].mode()[0])
uk_acc['Weather_Conditions'] = uk_acc['Weather_Conditions'].fillna(uk_acc['Weather_Conditions'].mode()[0])

# Checking Column Data Types

In [7]:
uk_acc.dtypes

Index                       object
Accident_Severity           object
Accident Date               object
Latitude                   float64
Light_Conditions            object
District Area               object
Longitude                  float64
Number_of_Casualties         int64
Number_of_Vehicles           int64
Road_Surface_Conditions     object
Road_Type                   object
Urban_or_Rural_Area         object
Weather_Conditions          object
Vehicle_Type                object
dtype: object

In [8]:
# integer
uk_acc['Number_of_Casualties'] = uk_acc['Number_of_Casualties'].astype('int')
uk_acc['Number_of_Vehicles'] = uk_acc['Number_of_Vehicles'].astype('int')

# float
uk_acc['Latitude'] = uk_acc['Latitude'].astype('float')
uk_acc['Longitude'] = uk_acc['Longitude'].astype('float')

# string (object)
uk_acc['Index'] = uk_acc['Index'].astype('category')
uk_acc['Accident_Severity'] = uk_acc['Accident_Severity'].astype('category')
uk_acc['Accident Date'] = uk_acc['Accident Date'].astype('category')
uk_acc['Light_Conditions'] = uk_acc['Light_Conditions'].astype('category')
uk_acc['District Area'] = uk_acc['District Area'].astype('category')
uk_acc['Road_Surface_Conditions'] = uk_acc['Road_Surface_Conditions'].astype('category')
uk_acc['Road_Type'] = uk_acc['Road_Type'].astype('category')
uk_acc['Urban_or_Rural_Area'] = uk_acc['Urban_or_Rural_Area'].astype('category')
uk_acc['Weather_Conditions'] = uk_acc['Weather_Conditions'].astype('category')
uk_acc['Vehicle_Type'] = uk_acc['Vehicle_Type'].astype('category')

In [9]:
uk_acc

,Index,Accident_Severity,Accident Date,Latitude,Light_Conditions,District Area,Longitude,Number_of_Casualties,Number_of_Vehicles,Road_Surface_Conditions,Road_Type,Urban_or_Rural_Area,Weather_Conditions,Vehicle_Type
0,200701BS64157,Serious,5/6/2019,51.506187,Darkness - lights lit,Kensington and Chelsea,-0.209082,1,2,Dry,Single carriageway,Urban,Fine no high winds,Car
1,200701BS65737,Serious,2/7/2019,51.495029,Daylight,Kensington and Chelsea,-0.173647,1,2,Wet or damp,Single carriageway,Urban,Raining no high winds,Car
2,200701BS66127,Serious,26-08-2019,51.517715,Darkness - lighting unknown,Kensington and Chelsea,-0.210215,1,3,Dry,Single carriageway,Urban,Fine no high winds,Taxi/Private hire car
3,200701BS66128,Serious,16-08-2019,51.495478,Daylight,Kensington and Chelsea,-0.202731,1,4,Dry,Single carriageway,Urban,Fine no high winds,Bus or coach (17 or more pass seats)
4,200701BS66837,Slight,3/9/2019,51.488576,Darkness - lights lit,Kensington and Chelsea,-0.192487,1,2,Dry,Single carriageway,Urban,Fine no high winds,Other vehicle
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
660674,201091NM01760,Slight,18-02-2022,57.374005,Daylight,Highland,-3.467828,2,1,Dry,Single carriageway,Rural,Fine no high winds,Car
660675,201091NM01881,Slight,21-02-2022,57.232273,Darkness - no lighting,Highland,-3.809281,1,1,Frost or ice,Single carriageway,Rural,Fine no high winds,Car
660676,201091NM01935,Slight,23-02-2022,57.585044,Daylight,Highland,-3.862727,1,3,Frost or ice,Single carriageway,Rural,Fine no high winds,Car
660677,201091NM01964,Serious,23-02-2022,57.214898,Darkness - no lighting,Highland,-3.823997,1,2,Wet or damp,Single carriageway,Rural,Fine no high winds,Motorcycle over 500cc
660678,201091NM02142,Serious,28-02-2022,57.575210,Daylight,Highland,-3.895673,1,1,Wet or damp,Dual carriageway,Rural,Snowing no high winds,Car

# Exploratory Data Analytics

# QUESTION 1 :
### Create a column for casualties per vehicle.

In [10]:
uk_acc['Casualties_per_Vehicle'] = uk_acc['Number_of_Casualties'] / uk_acc['Number_of_Vehicles']
uk_acc[['Number_of_Casualties','Number_of_Vehicles','Casualties_per_Vehicle']].head()

   Number_of_Casualties  Number_of_Vehicles  Casualties_per_Vehicle
0                     1                   2                0.500000
1                     1                   2                0.500000
2                     1                   3                0.333333
3                     1                   4                0.250000
4                     1                   2                0.500000

# Insights 
### This helps measure accident intensity, comparing small crashes with big pileups.

# Question 2:
### What is the correlation between longitude and casualties?

In [11]:
uk_acc['Longitude'].corr(uk_acc['Number_of_Casualties'])

np.float64(-0.0404056457884545)

# Insight: 
### East-west location doesnâ€™t strongly affect casualties.

# Question 3 :
### Compare casualties on single vs dual carriageways.

In [12]:
from scipy.stats import f_oneway
type1 = uk_acc[uk_acc['Road_Type'] == 'Single carriageway']['Number_of_Casualties']
type2 = uk_acc[uk_acc['Road_Type'] == 'Dual carriageway']['Number_of_Casualties']
stats, p_value = f_oneway(type1, type2)
p_value

np.float64(0.0)

# Insight:
### Thereâ€™s a clear difference in casualties between single and dual carriageways.

# Question 4 :
### What is the average latitude of accidents?

In [13]:
uk_acc['Latitude'].mean()

np.float64(52.553865761110956)

# Insight: 
### Accidents are spread across the UK, mostly central/northern areas.

# Question 5 : 
### What is the largest number of accidents reported on a single road type per district?

In [14]:
uk_acc.groupby(['District Area','Road_Type']).size().max()

np.int64(9025)

# Insights :
### Single carriageways usually dominate across all districts.

# Question 6: 
### What is the correlation between vehicles and casualties?

In [15]:
uk_acc['Number_of_Vehicles'].corr(uk_acc['Number_of_Casualties'])

np.float64(0.22888886126927557)

# Insight: 
### More vehicles often mean more casualties, but not always.

# Question 7: 
### What is the biggest number of vehicles in one accident?

In [16]:
uk_acc['Number_of_Vehicles'].max()

np.int64(32)

# Insight: 
### Multi-car pileups happen rarely but can be very large.

# Question 8: 
### How many accidents happened on icy roads?

In [17]:
uk_acc[uk_acc['Road_Surface_Conditions'] == 'Frost or ice'].shape[0]

18517

# Insight: 
### Ice causes many dangerous situations, though less frequent than dry/wet roads.

# Question 9: 
### Whatâ€™s the average number of vehicles in wet-road accidents?

In [18]:
uk_acc[uk_acc['Road_Surface_Conditions'] == 'Wet or damp']['Number_of_Vehicles'].mean()

np.float64(1.8291610429119267)

# Insight: 
### Wet roads often cause more multi-vehicle crashes.

# Question 10: 
### Which district records the most accidents?

In [19]:
uk_acc['District Area'].value_counts().head(1)

District Area
Birmingham    13491
Name: count, dtype: int64

#Insight: 
### Some districts have busier roads, so more crashes occur there.

# Question 11: 
### What is the minimum number of casualties in an accident?

In [20]:
uk_acc['Number_of_Casualties'].min()

np.int64(1)

# Insight: 
### Every recorded accident involves at least one person.

# Question 12: 
### What is the mean number of vehicles per accident?

In [21]:
uk_acc['Number_of_Vehicles'].mean()

np.float64(1.8312554205597575)

# Insight: 
### Many crashes involve two vehicles, but single-vehicle cases bring the average down.

# Question 13: 
### What is the average severity score across all accidents?

In [22]:
uk_acc['Accident_Severity_numeric'] = uk_acc['Accident_Severity'].astype('category').cat.codes
uk_acc['Accident_Severity_numeric'].mean()

np.float64(1.8402567661451326)

# Insight:
### Most accidents fall between slight and serious.

# Question 14 :
### What is the largest number of accidents reported on a single road type per district?

In [23]:
uk_acc.groupby(['District Area','Road_Type']).size().max()

np.int64(9025)

# Insight: 
### Single carriageways usually dominate across all districts.

# Question 15:
### What is the average number of casualties on dual carriageways?

In [24]:
dual = uk_acc[uk_acc['Road_Type'] == 'Dual carriageway']
dual['Number_of_Casualties'].mean()

np.float64(1.4772791277759898)

# Insight: 
### Even on bigger roads, accidents can still hurt more than one person.

# Question 16:
### What is the highest number of casualties in a single crash?

In [25]:
uk_acc['Number_of_Casualties'].max()

np.int64(68)

# Insight:
### A single large accident can affect many people at once.

# Question 17:
### Which road condition has the most accidents?

In [26]:
uk_acc['Road_Surface_Conditions'].value_counts()

Road_Surface_Conditions
Dry                     448547
Wet or damp             186708
Frost or ice             18517
Snow                      5890
Flood over 3cm. deep      1017
Name: count, dtype: int64

# Insight:
### Dry conditions are the most common, so naturally, more accidents happen there.

# Question 18:  
### What accident severity happens most often?

In [27]:
uk_acc['Accident_Severity'].mode()[0]

'Slight'

# Insight:
### Most reported crashes are minor in nature.

# Question 19:
###  What is the average number of casualties per crash?

In [28]:
uk_acc['Number_of_Casualties'].mean()

np.float64(1.357040257068864)

# Insight: 
### Most accidents only affect one or two people.

# Question 20:
### What is the fewest number of vehicles in a crash?

In [29]:
uk_acc['Number_of_Vehicles'].min()

np.int64(1)

# Insight: 
### Some accidents involve just one vehicle, such as hitting an object or losing control.

# Question 21 :
### Whatâ€™s the percentage of accidents on dry roads?

In [31]:
uk_acc['Road_Surface_Conditions'].value_counts(normalize=True)['Dry'] * 100

np.float64(67.89182038478594)

# Insight: 
### End-of-week traffic and more people traveling contribute to higher accidents on Fridays. Rush hour and weekend trips increase road risks

# Question 22:
### Which road type has the highest average number of casualties?

In [39]:
uk_acc.groupby('Road_Type')['Number_of_Casualties'].mean().idxmax()

'Dual carriageway'

# Insight:
### Dual carriageways have the highest average casualties, showing that these roads are more prone to severe accidents compared to other road types.

# Question 23 : 
### Whatâ€™s the most common vehicle type in accidents?

In [43]:
uk_acc['Vehicle_Type'].value_counts().idxmax()

'Car'

# Insight: 
### Cars dominate UK traffic, so they naturally appear most in accident records. Other vehicles like bikes and buses are far less frequent.

# Question 24. 
###  What is the average number of vehicles involved in accidents across all records?

In [49]:
uk_acc['Number_of_Vehicles'].mean().round()

np.float64(2.0)

# Insight: 
### On average, about 2 vehicles are involved in each accident, which reflects that most crashes are collisions between two cars rather than large pile-ups.

# Question 25. 
### Which road surface condition has the highest average accident severity?

In [58]:
uk_acc.groupby('Road_Surface_Conditions')['Accident_Severity_numeric'].mean()

Road_Surface_Conditions
Dry                     1.836610
Flood over 3cm. deep    1.805310
Frost or ice            1.870767
Snow                    1.892190
Wet or damp             1.844543
Name: Accident_Severity_numeric, dtype: float64

# Insight:
### Accidents on Snowy roads tend to be the most severe, highlighting how dangerous winter conditions can be for drivers.